.flex-center {
    display: flex;
    justify-content: center;
}

.hero-section {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    text-align: center; 
}

.logo-div {
    z-index: 2;
}

.background-picture {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.background-picture-top {
    display: flex;
    justify-content: end;
}

h1 {
    position: relative;
    z-index: 2;
    color: white;
}

svg {
    width: 10%;
}

.features-section {
    position: relative;
    overflow: hidden;
    background-color: darkblue;
    color: white;
}

.feature {
    flex-direction: column;
    display: flex;
}

.feature ul {
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.feature li {
    justify-content: center;
    margin-bottom: 10px;
    display: flex;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    background-color: #3498db;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.styled-button:hover {
    background-color: #2980b9;
    color: #f0f0f0;
    border-color: #2980b9;
}

.about-section {
    background-color:black;
    color: white;
}

.cta-section {
    background-color: black;
    color: #ffffff;
    text-align: center;
}

.cta-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cta-section p {
    font-size: 16px;
    margin-bottom: 20px;
}
